<div class="container" style="margin-top: 8vw;" *ngFor="let pokemon of pokemonService.pokemons">
    <div class="pokedex-pokemon-profile" *ngIf="pokemon">
        <img class="pokemon-images" [src]="pokemon.image" alt="pokemo-image" style="  width: 100%; height: 100%;">
        <!-- <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt=""> -->
    </div>
    <!-- <div class="pokedex-pokemon-details-right"> -->
    <div class="column-6 push-7">
        <div class="pokedex-pokemon-details-right">
            <div class="version-descriptions active">
                <p class="version-y">
                    Este Pokémon nace con una llama en la punta de la cola. Si se le apagara, fallecería.
                </p>
                <p class="version-x active">
                    Prefiere las cosas calientes. Dicen que cuando llueve le sale vapor de la punta de la cola.
                </p>
            </div>
            <div class="info match-height-tablet">
                <div class="pokemon-ability-info color-bg color-lightblue match active">
                    <div class="column-7">
                        <ul>
                            <li>
                                <span class="attribute-title">Altura</span>
                                <span class="attribute-value">0,6 m</span>
                            </li>

                            <li>
                                <span class="attribute-title">Peso</span>
                                <span class="attribute-value">8,5 kg</span>
                            </li>
                        </ul>
                    </div>

                    <div class="column-7 push-7">
                        <ul>
                            <li>
                                <span class="attribute-title">Categoría</span>
                                <span class="attribute-value">Lagartija</span>
                            </li>

                            <li>
                                <span class="attribute-title">Habilidad</span>
                                <ul class="attribute-list">
                                    <li>
                                        <a href="" class="moreInfo">
                                            <span class="attribute-value">Mar Llamas</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <div class="pokemon-stats-info-active"></div>
    <div class="section-pokedex-pokemon-evolution-evolution-three"></div>
</div>